/* counting.jsx */
.cmain{
    padding-top: 50px;
    padding-bottom: 50px;
}
.c1{
    display: flex;
    /* font-size: 25px; */
    flex-direction: column;
    color: antiquewhite;
    text-align: center;
    font-family: Quicksand;
}
.count{
    color: #95af29;
    font-family: open sans;
    padding-right: 7px;
}
.c1>h3{
    font-size: 25px;
}

/* Infinite_scroller.jsx */
.imain{
    background-color: #211f1f;
    padding: 50px 60px 50px 60px;
}
.scroller_inner{
    display: flex;
    padding-block: 1rem;
    justify-content: center;
    gap: 1rem;
}
.scroll-parent {
    position: relative;
    width: 100wv;
    height: 6.7rem;
    overflow: hidden;
}

.scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    animation: primary 11s linear infinite;
}

.primary {
    animation: primary 11s linear infinite;
}

.secondary {
    animation: secondary 11s linear infinite;
}

@keyframes primary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes secondary {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}
