/* counting.jsx */
.cmain{
    padding-top: 50px;
    padding-bottom: 50px;
}
.c1{
    display: flex;
    /* font-size: 25px; */
    flex-direction: column;
    color: antiquewhite;
    text-align: center;
    font-family: Quicksand;
}
.count{
    color: #95af29;
    font-family: open sans;
    padding-right: 7px;
}
.c1>h3{
    font-size: 25px;
}

/* Infinite_scroller.jsx */
.imain{
    background-color: #211f1f;
}
.scroller{
    text-align: center;
}

