@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.introOne{
    color:blanchedalmond;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 100px;
    text-align: center;
}
.introOne>h1{
    font-size: 50px;
    font-family: Open Sans;
    line-height: 4rem;
    letter-spacing: 1px;
}
.detail{
    font-size: 33px;
    word-spacing: 3px;
    line-height: 40px;
}
.dOne{
    display: flex;
    justify-content: space-around;
    color: aqua;
}