@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* heading */
.bagH{
    /* background-image: url("src/assets/bg.svg"); */
    align-content: center;
}
.introOne{
    color:blanchedalmond;
    padding: 25px 100px 20px 50px;
    text-align: center;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}
.introOne>h1{
    font-size: 50px;
    line-height: 4rem;
    letter-spacing: 1px;
}
 
/* about hirer */
.about{
    /* background-color: black; */
    display:flex;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 40px;
    align-items: center;
}
.dou{
    color: antiquewhite;
    width: 400px;
    /* height: 400px; */
}
.dou>h2{
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Playfair Display, 'Courier New', Courier, monospace;
}
.dou>p{
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    line-height: 22px;
    text-align: center;
    border: 3px dotted #95af29;
    padding: 12px;
    padding-top: 10px;
    border-radius: 20px;
    font-family: Open Sans, 'Courier New', Courier, monospace;
}
.dou>p:hover{
    border-color:antiquewhite;
    color: #d3f259;
}
.imagg{
    width: 370px;
    padding-left: 60px;
    border-radius: 80px;
    animation: floatUpDown 3s ease-in-out infinite;
}
.lOne{
    padding-left: 130px;
    /* border-radius: 20px; */
    width: 450px;
    transform: rotate(-15deg);
    clip: rect(20px, 20px, 30px, 30px);
}
/* login detail */
.logup{
    display: flex;
    justify-content: flex-end;
    /* padding-top: 0px; */
    align-items: center;
    padding-right: 120px;
}
.losi{
    color: antiquewhite;
    width: 400px;
    height: 400px;
}
.losi>h2{
    letter-spacing: 2px;
    word-spacing: 3px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Playfair Display, 'Courier New', Courier, monospace;
}
.losi>p{
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    line-height: 22px;
    text-align: center;
    border: 3px dotted #95af29;
    padding: 14px;
    border-radius: 20px;
    font-family: Open Sans, 'Courier New', Courier, monospace;
}
.losi>p:hover{
    border-color:antiquewhite;
    color: #d3f259;
}
.imm{
    width: 280px;
    animation: floatUpDown 3s ease-in-out infinite;
    padding-right: 60px;
}
.lTwo{
    padding-top: 50px;
    padding-right: 147px;
    /* border-radius: 20px; */
    width: 450px;
    /* transform: rotate(17deg); */
    /* clip: rect(20px, 20px, 30px, 30px); */
}
/* FoHire */


