@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Add keyframes for the box shadow animation */
@keyframes shadowAnimation {
  0% {
    box-shadow: none; /* No shadow at the start */
  }
  50% {
    box-shadow: 15px 15px 200px #87a805; /* Shadow when it leaves the surface */
  }
  75% {
    box-shadow: none; /* No shadow as it returns */
  }
}
.home{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    padding-bottom: 30px;
}
.intro{
    color: aqua;
    font-size: x-large;
    font-family: Open Sans;
    padding-left: 50px;
    padding-right: 100px;
    text-align: center;
}
.intro>h2{
    line-height: 4rem;
}
.intro>h3{
    font-size: 29px;
}
.image{
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i_m {
  border-radius: 30px; 
  transition: box-shadow 0.5s ease-in-out; /* Add a transition effect for the box shadow */
  box-shadow: none; /* Initially, no box shadow */
  animation: floatUpDown 3s ease-in-out infinite, shadowAnimation 3s ease-in-out infinite; /* Apply both animations */
}
.btn{
    text-decoration: none;
    background-color: black;
    
    font-size: 25px;
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    
    padding: 10px 10px 10px 10px;
    transition: transform 0.2s ease-in-out;
    border-color: antiquewhite;
    color: #95af29;
}
.btn:hover{
    /* background-color: bisque; */
    border-color: #95af29;
    color: antiquewhite;
    transform: translateY(-5px);
}
